
    <div id="slide_out" class="relative">
      <!--Counter-->
      <div id="countdown" class=" secondery-font font-16 font-italic margin-bottom-20">
        <span class="days">100</span>
        <span>Gün Kaldı.</span>
      </div>
      <!--/Counter-->	
      <h4 class="font-uppercase margin-top-35 margin-bottom-35" style="padding-bottom: 20px;">Hessapp Uygulamasına <br>HOŞ GELDİNİZ.</h4>
      <div class="clearfix"></div>
      <div class="row button-row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <a routerLink="/home/giris"><button type="submit" class="btn btn-default btn-des btn-block">
                <span class="mask"></span>GİRİŞ
            </button></a>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row button-row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <a routerLink="/home/kayit-ol"><button type="submit" class="btn btn-default btn-des btn-block">
                <span class="mask"></span>KAYIT OL</button></a>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="row button-row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6" style="text-align:center;">
              <a routerLink="#" ><button type="submit" class="btn btn-face btn-des btn-block">
                  <span class="mask"></span> <i class="fa fa-facebook-square"> </i>
                  Facebook ile Bağlan</button></a>
          </div>
          <div class="col-sm-3"></div>
      </div>
        

        
    </div>	
     