<div class="row" style="margin-top:10px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="text-center">
            <div class="alert alert-brown" role="alert">
                Burası Şifremi Unuttum Kısmı
              </div>
            </div>  
    </div>
    <div class="col-md-2"></div>
  </div>
  
<section  class="container-fluid align-center animated  sec-pad">
  <div class="row">
      <div class="col-md-3"></div>
    <div class="col-md-6 formStyle">
        <form name="contactform"  method="post" class="row form-horizontal" role="form">
            <div class="form-group input--hoshi col-sm-12">
              <div class="input-wrap">
                <input autocomplete="off" type="text" class="form-control input__field input input__field--hoshi" id="userName" name="userName" placeholder="Mail Adresinizi Girin." required>
                <label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
              </div>	
            </div>
            <div class="form-group col-sm-12">
              <div class="row">

                  <div class="col-sm-12" style="padding-bottom:10px;">
                      <button type="submit" class="btn btn-default btn-block">
                          <span class="mask"></span>
                          <span class="btn-label">ŞİFREMİ YENİLE</span>
                          </button>
                  </div>

                <div class="col-sm-12" >
                    <a routerLink="/home"><button type="submit" class="btn btn-default btn-block">
                        <span class="mask"></span>
                        <span class="btn-label">GERİ DÖN</span>
                        </button></a>
                </div>
                
              </div>
            </div>
          </form>
    </div>
    <div class="col-md-3"></div>
  </div>
  

</section>