		
		<div class="pad-zero">
			
			<!--Splitlayout -->
			<div id="splitlayout" class="splitlayout reset-layout">
				
				<!--Intro-->
				<div class="intro">
            <div class="side side-left text-center bg-pattern">

                <!--/Right Nav-->
                  <div class="table-wrap">
                    <div class="table-cell vertical-align-middle">
                      <div class="main-content">
                          <router-outlet></router-outlet>
                        <!--main content-->
                        <!--/main content-->
                      </div>
                    </div>
                  </div>
                			
                
              </div>
					<!--Left Content Intro-->
					<div class="side side-right text-center">
						
						<!--Particles Container-->
						<div id="particles_js"></div>
						<!--/Particles Container-->
	
						
						<!--Main Content-->
						<section class="col-lg-9 col-md-10 col-sm-11 col-xs-11 content-wrap align-center sec-pad">
							<div class="table-wrap">
								<div class="table-cell vertical-align-middle">
									<!--Logo-->
									<header class="logo margin-bottom-25">
										<img src="https://www.google.com.tr/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" width="150px" alt="logo">
									</header>
									<!--/Logo-->
									
									<p class="secondery-font margin-bottom-25">Hessapp - Öğrenci İşi Hesap Kitap</p>
									<div class="type-wrap hide-overflow margin-bottom-15">
										<h1 class="animated"><span id="typed" ></span></h1>
									</div>
								</div>	
							</div>	
							<!--left overlay-->
						</section>
						
					</div>
					
				</div>
				<!--/Intro-->
				
			</div>
			<!-- /Splitlayout -->
		
		</div>
		<!-- /Container -->
		<!-- Scripts -->
		<script src="../../assets/js/jquery-1.11.3.min.js"></script>
		<script src="../../assets/js/jquery-ui.min.js"></script>
		<script src="../../assets/js/angular.min.js"></script>
		<script src="../../assets/js/modernizr.custom.js"></script>
		<script src="../../assets/js/cbpSplitLayout.js"></script>
		<script src="../../assets/js/app.js"></script>
		<script src="../../assets/js/controllers.js"></script>
		<script src="../../assets/js/jquery.placeholder.js"></script>
		<script src="../../assets/js/modernizr-2.6.2.min.js"></script>
		<script src="../../assets/js/jquery.nicescroll.js"></script>
		<script src="../../assets/js/particles.min.js"></script>
		<script src="../../assets/js/typed.js"></script>
		<script src="../../assets/js/init.js"></script>


